* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    height: 100vh;
}

.navbar {
    height: 100px;
}

.navbar ul {
    display: flex;
    text-decoration: none;
}

.logo {
    display: block;
    margin: 100px auto 0;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search input {
    height: 40px;
    width: 500px;
    margin: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.btn {
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #505050;
    background-color: #f4f4f4;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn:hover {
    color: #303030;
    border: 1px solid #c4c4c4;
}